/* PALETA DE COLORES
    283618- verde oscuro
    606c38- vere claro
    fefae0- beiche clare
    dda15e- naranjo claro
    bc6c25- Naranjo otoño
*/

nav{
    background-color: #283618;
}
li{
    margin-left: 30px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}

header{

    padding-bottom: 30px;
    background-color: #606c38;
}
#sect{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fefae0;
}
footer{
    background-color: #bc6c25;
}
#welcome{
    color:white;
}
#social{
    padding-right:30px;
    padding-top: 25px;
}